#dragField{
    height: 50vh;
    overflow-y: scroll;
    /*overflow-x: hidden;*/
}

[draggable=true] {
    cursor: move;
}


.segment {
    border-radius: 50%;
    border: 5px solid #333;
    background-color: #333;
    width: 2em;
    height: 2em;
    text-align: center;
    margin: 1em 1em 1em 1em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.segment:hover {
    opacity: 0.7;
}

.dropped-segment{
    height: 8em;
    width: 8em;
    box-shadow: none;
    background-color: rgba(255,87,87,0.66);
    border-radius: 50%;
    border: 5px solid #333;
    text-align: center;
    mix-blend-mode: multiply;
    margin: 1em 1em 5em 1em;
}

.dropped-segment > .dropped-segment {
    position: relative;
    top: -2.7em;
    left: 4em;
}

.dropped-segment > .dropped-segment > .dropped-segment{
    position: relative;
    top: 1.6em;
    left: -4em;
}

.dropzone {
    min-height: 7vw;
    border-color: #555;
    border-width: 5px;
    border-style: solid;
    width: -webkit-fill-available;
    display: inline-block;
    padding: 1em 1em 1em;
    margin: 2px;
}
#resetSelButton{
    visibility: hidden;
}

.dropzoneScrollable{
    height: 35vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 10px;
}

.dropzoneInfoText{
    position: relative;
    top: 27px;
    left: 12px;
    color: #777777;
    font-style: italic;
    user-select: none;
}
