:root {
    --first: 0;
    --second: 0;
}

.range-slider, .range-slider * {
    margin-top: 0.7em;
    box-sizing: border-box;
    padding: 0;
    position: relative;
    z-index: 0;
}

.range-slider .min-max {
    pointer-events: none;
    width: var(--width);
    display: flex;
    justify-content: space-between;
    color: #93989a;
    top: 0.6em
}


.range-bg {
    transform: translateY(30px);
    z-index: -10;
    background-color: lightslategray;
    height: 8px;
    width: var(--width);
    border-radius: 15px;
}

.range-slider input[type=range] {
    width: var(--width);
    height: 0px;
    position: absolute;
    top: -0.2em;
    -webkit-appearance: none;
    background: linear-gradient(to right, #d5d9da 0%, #d5d9da 100%);
    transition: background 450ms ease-in;
}


/*.range-slider::after {*/
/*    pointer-events: none;*/
/*    position: absolute;*/
/*    content: attr(style);*/
/*    transform: translateY(60px);*/
/*    white-space: nowrap;*/
/*    height: 26px;*/
/*    width: auto;*/
/*    border: 1px solid #ddd;*/
/*    font-size: 13px;*/
/*    line-height: 26px;*/
/*}*/


.range-slider::before {
    pointer-events: none;
    margin: 27px 0 0;
    z-index: 0;
    top: 0;
    content: "";
    position: absolute;
    top: 0;
    left: 2px;
    width: calc( var(--width) - 5px);
    background-color: blue;
    height: 30px;
    background: linear-gradient(to right,
    transparent var(--low),
    #507aff 0,
    red var(--high),
    transparent 0) no-repeat 0 15% / 100% 30%;
}

.range-slider input[type=range]:focus {
    outline: none;
}

.range-sliderr > input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 0px;
}

.range-slider input[type=range]::-webkit-slider-thumb {
    transform: translateY(30px);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5), 0 0 2px rgba(13, 13, 13, 0.5);
    border: 0 solid #000000;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.5px;
}

.range-slider .fst-value {
    border-radius: 5px;
    pointer-events: none;
    position: absolute;
    top: -20px;
    background: #5386a8;
    padding: .15em .6em;
    color: #fff;
    left: var(--first);
}

.range-slider .snd-value {
    border-radius: 5px;
    pointer-events: none;
    position: absolute;
    top: -20px;
    background: #b84324;
    padding: .15em .6em;
    color: #fff;
    left: var(--second);
}

.range-slider .fst-value:after,
.range-slider .snd-value:after {
    top: 100%;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 3px solid transparent;
    border-top-color: #9ba8a5;
    margin-left: -25px;
}

