html, body{
    width: 100%;
    height: 100%;
}

main{
    margin-top: 7%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

svg:hover{
    cursor: pointer;
}

.scrollable{
    height: 70vh;
    overflow: scroll;
}

[draggable=true] {
    cursor: move;
}

.segment {
    float: left;
    border-radius: 50%;
    border: 5px solid #333;
    width: 3em;
    height: 3em;
    text-align: center;
    background: #ffd311;
    mix-blend-mode: multiply;
    margin: 1em 10em 1em 1em;
}

.segment > .segment {
    position: relative;
    top: -3em;
    left: 4em;
    color: white;
}

.dropzone {
    border-color: black;
    border-width: 5px;
    border-style: solid;
    padding: 1em;
    width: 100%;
    display: inline-block;
}

.filterZone {
    height: 100%;
    width: 100%;
    background-color: #e6e9f0;
    padding: 1em;
}

.properties{
    background-color: #33336a;
    color: white;
    margin: 1em;
    height: 10vh;
    visibility: hidden;
}

.propLabel{
    margin-top: 0.3em;
    margin-left: 3em;
}

#cantons > g{
    stroke: #f6f6f6;
}

#cantons > g:hover{
    fill-opacity: 50%;
}

circle:hover{
    fill: red;
    stroke-width: 10px;
}


#trockenwiesen {
    fill: white;
    stroke: white;
    stroke-width: 5px;
    visibility: hidden;
}

#trockenwiesen > path:hover {
    fill: red;
    stroke: red;
    stroke-width: 10px;
}

#laichgebiete{
    fill: white;
    stroke: white;
    stroke-width: 5px;
    visibility: hidden;
}

#laichgebiete > path:hover {
    fill: red;
    stroke: red;
    stroke-width: 10px;
}


#wanderobjekte{
    fill: white;
    stroke: white;
    stroke-width: 5px;
    visibility: hidden;
}

#wanderobjekte > path:hover {
    fill: red;
    stroke: red;
    stroke-width: 10px;
}


#header{
    background-color: #ffd311;
    padding: 1% 2% 1% 2%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;

}

#footer{
    background-color: #ffd311;
    padding: 1% 2% 1% 2%;
    text-align: right;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

#developer{
    text-align: right;
}

