html, body, h1, h2, h3 {
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

#header {
    background-color: #110e11;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    margin: 0;
}

#developer {
    position: absolute;
    font-size: 1rem;
    left: 80%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}


.scrollable {
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.properties {
    background-color: #33336a;
    color: white;
    margin: 1em;
    height: 10vh;
    visibility: hidden;
}

.propLabel {
    margin-top: 0.3em;
    margin-left: 3em;
}

.propDescription {
    font-size: 0.6em;
    white-space: nowrap;
    margin-left: 3.5em;
    position: relative;
}


.collapsible {
    background-color: #a9a9a9;
    color: white;
    cursor: pointer;
    padding: 1em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
    margin-bottom: 0.1em;
}

.active, .collapsible:hover {
    background-color: #777;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.collapsible-slider {
    background-color: #a9a9a9;
    color: white;
    cursor: pointer;
    padding: 0.2em;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
    margin: 0;
}

.collapsible-slider:disabled {
    background-color: #dedede;
    cursor: default;
}

.collapsible-slider:after:disabled {
    content: "";
}

.collapsible-slider:hover:disabled {
    background-color: #dedede;;
}

.collapsible-slider:disabled .valInput {
    border-bottom: 2px #bdbdbd solid;
    pointer-events: none;
}

.slider-content {
    height: 5em;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.active, .collapsible-slider:hover {
    background-color: #777;
}

.collapsible-slider:after {
    content: "\25B2"; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

.collapsible-slider.active:after {
    content: "\25BC";
}

#propTitle {
    width: 100%;
    color: white;
    font-weight: bold;
    background: #555;
    padding: 0.2em 0.2em 0.2em 1em;
    margin-bottom: 0.2em;
    border-radius: 0.5em 0.5em 0 0;
}


::-webkit-scrollbar {
    width: 0.6em;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #555;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;
}

.valInput {
    text-align: right;
    width: 4.2em;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 2px #555 solid;
    font-size: 14px;
}

.valueType {
    font-size: 12px;
}

.valForm {
    display: contents;
}

#infoTable td {
    padding: 0.3rem;
    font-size: 0.8rem;
}

#infoTableHeader {
    font-weight: bold;
    background: #777;
    color: white;
}

#infoTableHeader th {
    padding: 0.3rem;
}

.gemeindenList {
    cursor: pointer;
}



#left {
    position: fixed;
    top: 60px;
    left: 10px;
    width: 24vw;
    background-color: whitesmoke;
    border-radius: 1em;
}

#infoBox {
    top: 50px;
    position: fixed;
    font-weight: bold;
    border-radius: 1em;
    padding: 1em;
    background-color: rgba(230, 230, 230, 0.9);
}

#table {
    position: fixed;
    top: 40px;
    right: 10px;
    width: 200px;
}

#table td {
    font-size: 1.1em;
    border: 1px solid #656565;
    background-color: rgba(201, 76, 76, 0.3);

}
#table td:hover {
    background-color: #aeff96;
}

/*#table .selected{*/
/*    background-color: red;*/
/*}*/

.btn {
    background-color: #ff4426;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

#infoRow {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.filterZone {*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    background-color: #e6e9f0;*/
/*    padding: 1em;*/
/*}*/


